{% extends 'base.html' %}

{% block header %}{{ group }}{% endblock %}

{% block content %}
  <p>
    {{ group.description }}
  </p>

  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор:
          <a href="{% url 'posts:profile' username=post.author.username %}">
            {{ post.author.get_full_name }}
          </a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>

      <p>{{ post.text }}</p>

      <a href="{% url 'posts:post_detail' post_id=post.id %}">
        подробная информация
      </a>
    </article>

    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  {% include 'posts/includes/paginator.html' %}
{% endblock %}
